# Join train

In [1]:
import pandas as pd
import numpy as np

In [2]:
train005 = pd.read_csv('../data/FE005-train.csv')
test005 = pd.read_csv('../data/FE005-test.csv')

In [3]:
train005.head()

   atom_index_0  atom_index_1  type  scalar_coupling_constant             ...               molecule_type_dist_max  molecule_type_dist_min  molecule_type_dist_std  molecule_type_dist_std_diff
0             1             0     0                     84.80             ...                                1.092                   1.092                0.000003                       -1.092
1             1             2     3                    -11.26             ...                                1.783                   1.783                0.000014                       -1.783
2             1             3     3                    -11.26             ...                                1.783                   1.783                0.000014                       -1.783
3             1             4     3                    -11.26             ...                                1.783                   1.783                0.000014                       -1.783
4             2             0     0                     84.80             ...                                1.092                   1.092                0.000003                       -1.092

[5 rows x 81 columns]

In [4]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

In [5]:
train.head()

   id     molecule_name  atom_index_0  atom_index_1  type  scalar_coupling_constant
0   0  dsgdb9nsd_000001             1             0  1JHC                   84.8076
1   1  dsgdb9nsd_000001             1             2  2JHH                  -11.2570
2   2  dsgdb9nsd_000001             1             3  2JHH                  -11.2548
3   3  dsgdb9nsd_000001             1             4  2JHH                  -11.2543
4   4  dsgdb9nsd_000001             2             0  1JHC                   84.8074

In [6]:
train005['id'] = train['id']
train005['molecule_name'] = train['molecule_name']
test005['id'] = test['id']
test005['molecule_name'] = test['molecule_name']

In [14]:
train005['type'] = train['type']
test005['type'] = test['type']

In [15]:
train005.to_parquet('../data/FE005-train.parquet')

In [16]:
test005.to_parquet('../data/FE005-test.parquet')