# Use Openbabel to create features

In [1]:
# install openbabel
!conda install -c openbabel openbabel -y

Collecting package metadata: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
Solving environment: / - \ | / - \ | / - \ | / - \ | / - \ | / -
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==5.3.0=py37_0
  - defaults/linux-64::numexpr==2.6.8=py37hd89afb7_0
  - defaults/linux-64::dask==0.19.1=py37_0
  - defaults/linux-64::pywavelets==1.0.0=py37hdd07704_0
  - defaults/linux-64::pandas==0.23.4=py37h04863e7_0
  - defaults/linux-64::astropy==3.0.4=py37h14c3975_0
  - defaults/linux-64::h5py==2.8.0=py37h989c5e5_3
  - defaults/linux-64::numpy-base==1.15.1=py37h81de0dd_0
  - defaults/linux-64::numba==0.39.0=py37h04863e7_0
  - defaults/linux-64::bokeh==0.13.0=py37_0
  - defaults/linux-64::pytest-doctestplus==0.1.3=py37_0
  - defaults/linux-64::pytest-astropy==0.4.0=py37_0
  - defaults/linux-64::scikit-learn==0.19.2=py37h4989274_0
  - defaults/linux-64::statsmodels==0.9.0=py37h035aef0_0
  - defaults/linux-64::bkcharts==0.2=py37_0
  - defaults/linux-64::mkl-service==1.1.2=py37h90e4bf4_5
  - defaults/linux-64::odo==0.5.1=py37_0
  - defaults/linux-64::imageio==2.4.1=py37_0
  - defaults/linux-64::scipy==1.1.0=py37hfa4b5c9_1
  - defaults/linux-64::pytables==3.4.4=py37ha205bf6_0
  - defaults/linux-64::blaze==0.11.3=py37_0
  - defaults/linux-64::mkl_fft==1.0.4=py37h4414c95_1
  - defaults/linux-64::bottleneck==1.2.1=py37h035aef0_1
  - defaults/linux-64::datashape==0.5.4=py37_1
  - defaults/linux-64::mkl_random==1.0.1=py37h4414c95_1
  - defaults/linux-64::pytest-arraydiff==0.2=py37h39e3cac_0
  - defaults/linux-64::patsy==0.5.0=py37_0
  - defaults/linux-64::seaborn==0.9.0=py37_0
  - defaults/linux-64::scikit-image==0.14.0=py37hf484d3e_1
\ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - openbabel


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.7.5                |           py36_0         3.0 MB
    conda-package-handling-1.3.10|           py36_0         259 KB
    libgcc-7.2.0               |       h69d50b8_2         304 KB
    openbabel-2.4.1            |           py36_5         5.1 MB  openbabel
    ------------------------------------------------------------
                                           Total:         8.7 MB

The following NEW packages will be INSTALLED:

  conda-package-han~ pkgs/main/linux-64::conda-package-handling-1.3.10-py36_0
  libgcc             pkgs/main/linux-64::libgcc-7.2.0-h69d50b8_2
  openbabel          openbabel/linux-64::openbabel-2.4.1-py36_5

The following packages will be UPDATED:

  conda                                       4.6.14-py36_0 --> 4.7.5-py36_0



Downloading and Extracting Packages
openbabel-2.4.1      | 5.1 MB    | ##################################### | 100%
conda-4.7.5          | 3.0 MB    | ##################################### | 100%
libgcc-7.2.0         | 304 KB    | ##################################### | 100%
conda-package-handli | 259 KB    | ##################################### | 100%
Preparing transaction: \ done
Verifying transaction: / - \ done
Executing transaction: / - \ | / - \ | / - \ | / - \ | / - \ | done

In [2]:
import pandas as pd
import numpy as np
import os
import csv   
import openbabel
from tqdm import tqdm
obConversion = openbabel.OBConversion()
_ = obConversion.SetInAndOutFormats("xyz", "mol2")

In [3]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
sub = pd.read_csv('../input/sample_submission.csv')
structures = pd.read_csv('../input/structures.csv')
scalar_coupling_contributions = pd.read_csv('../input/scalar_coupling_contributions.csv')

In [4]:
count = 0

with open(r'molecule_details.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'mol_wt', 'num_atoms','num_bonds','num_residues'])
with open(r'bond_details.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'left_atom_idx', 'right_atom_idx','equib_length','bond_length','BO','Flags'])
with open(r'angle_details.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'left_atom_idx', 'middle_atom_idx','right_atom_idx','angle'])
with open(r'atom_details.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'atom_idx', 'atomic_mass','atomic_number','exact_mass','valence','spin_multiplicity'])
with open(r'torsion_details.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', '2left_atom_idx', 'left_atom_idx','right_atom_idx','2right_atom_idx','torsion_angle'])
with open(r'distances.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'left_atom_idx', 'right_atom_idx','distance','is_bond'])
with open(r'closest.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['molecule_name', 'atom_index', 'closest','2nd_closest','3rd_closest','4th_closest','5th_closest','6th_closest',
                     '7th_closest','8th_closest','9th_closest','10th_closest','11th_closest','12th_closest','13th_closest','14th_closest',
                    '15th_closest','16th_closest','17th_closest','18th_closest','19th_closest','20th_closest','21st_closest','22nd_closest',
                    '23rd_closest','24th_closest','25th_closest','26th_closest','27th_closest','28th_closest'])

for xyz in tqdm(os.listdir('../input/structures/')):
    mol = openbabel.OBMol()
    obConversion.ReadFile(mol, '../input/structures/{}'.format(xyz))
    mol_name = xyz.split('.')[0]
#     print(xyz)
#     ### Loop through atoms
#     print('=======Molecule Details=======')
#     print('Molecule Weight: {}'.format(mol.GetMolWt()))
#     print('Number of Atoms: {}'.format(mol.NumAtoms()))
#     print('Number of Bonds: {}'.format(mol.NumBonds()))
#     print('Number of Res: {}'.format(mol.NumResidues()))    
#     ### Loop through bonds
#     print('=======Bond Details=======')
#     print(['molecule_name', 'left_atom_idx', 'right_atom_idx','equib_length','bond_length','BO','Flags'])
    with open(r'molecule_details.csv', 'a') as f:
        writer = csv.writer(f)
        writer.writerow([mol_name, mol.GetMolWt(), mol.NumAtoms(), mol.NumBonds(), mol.NumResidues()])
    for bond in openbabel.OBMolBondIter(mol):
#         print(mol_name, bond.GetBeginAtomIdx(), bond.GetEndAtomIdx(), bond.GetEquibLength(), bond.GetLength(),  bond.GetBO(), bond.GetFlags())
#         print(mol_name, bond.GetEndAtomIdx(), bond.GetBeginAtomIdx(), bond.GetEquibLength(), bond.GetLength(),  bond.GetBO(), bond.GetFlags())
        with open(r'bond_details.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow([mol_name, bond.GetBeginAtomIdx()-1, bond.GetEndAtomIdx()-1, bond.GetEquibLength(), bond.GetLength(),  bond.GetBO(), bond.GetFlags()])
            writer.writerow([mol_name, bond.GetEndAtomIdx()-1, bond.GetBeginAtomIdx()-1, bond.GetEquibLength(), bond.GetLength(),  bond.GetBO(), bond.GetFlags()])
#     print('=======Angle Details=======')
#     print('molecule_name', 'left_atom_idx', 'middle_atom_idx','right_atom_idx','angle')
    for angle in openbabel.OBMolAngleIter(mol):
        a = (angle[0] + 1)
        b = mol.GetAtom(angle[1] + 1)
        c = (angle[2] + 1)
#         print(mol_name,a-1,b.GetIdx()-1,c-1, b.GetAngle(a, c))
#         print(mol_name,c-1,b.GetIdx()-1,a-1, b.GetAngle(c, a))
        with open(r'angle_details.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow([mol_name,a-1,b.GetIdx()-1,c-1, b.GetAngle(a, c)])
            writer.writerow([mol_name,c-1,b.GetIdx()-1,a-1, b.GetAngle(c, a)])
#     print('=======Atom Details=======')
#     print('molecule_name', 'atom_idx', 'atomic_mass','atomic_number','exact_mass','valence','spin_multiplicity')
    for atom_no in range(1, mol.NumAtoms()+1):
        atom = mol.GetAtom(atom_no)
#         print(mol_name, atom.GetIdx()-1, atom.GetAtomicMass(), atom.GetAtomicNum(), atom.GetExactMass(), atom.GetValence(), atom.GetSpinMultiplicity())
        with open(r'atom_details.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow([mol_name, atom.GetIdx()-1, atom.GetAtomicMass(), atom.GetAtomicNum(),
                             atom.GetExactMass(), atom.GetValence(), atom.GetSpinMultiplicity()])
#     print('=======Torsion Details=======')
#     print('molecule_name', '2left_atom_idx', 'left_atom_idx','right_atom_idx','2right_atom_idx','torsion_angle')
    for torsion in openbabel.OBMolTorsionIter(mol):
        a = (torsion[0] + 1)
        b = (torsion[1] + 1)
        c = (torsion[2] + 1)
        d = (torsion[3] + 1)
#         print(mol_name, a-1, b-1, c-1, d-1, mol.GetTorsion(a, b, c, d))
#         print(mol_name, d-1, c-1, b-1, a-1, mol.GetTorsion(d, c, b, a))
        with open(r'torsion_details.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow([mol_name, a-1, b-1, c-1, d-1, mol.GetTorsion(a, b, c, d)])
            writer.writerow([mol_name, d-1, c-1, b-1, a-1, mol.GetTorsion(d, c, b, a)])
    ### DISTANCES
    for atom_left in range(1, mol.NumAtoms()+1):
        atoml = mol.GetAtom(atom_left)
        atom_dict = {}
        for atom_right in range(1, mol.NumAtoms()+1):
            
            atomr = mol.GetAtom(atom_right)
            is_bond = mol.GetBond(atoml, atomr)
            if is_bond is None:
                is_bond = False
            else:
                is_bond = True
            with open(r'distances.csv', 'a') as f:
                writer = csv.writer(f)
                writer.writerow([mol_name, atom_left-1, atom_right-1, atoml.GetDistance(atomr), is_bond])
            atom_dict[atom_right] = atoml.GetDistance(atomr)
        closest_first_dist = [k for k in sorted(atom_dict, key=atom_dict.get)]
        with open(r'closest.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow([mol_name, atom_left] + closest_first_dist[1:])
#     if count == 500:
#         break
#     count += 1

 33%|███▎      | 43011/130775 [13:51<28:03, 52.14it/s]

In [5]:
bond_df = pd.read_csv('bond_details.csv')
angle_df = pd.read_csv('angle_details.csv')
atom_df = pd.read_csv('atom_details.csv')
tortion_df = pd.read_csv('torsion_details.csv')
distances_df = pd.read_csv('distances.csv')
closest_df = pd.read_csv('closest.csv')

In [6]:
distances_df.head()

      molecule_name  left_atom_idx  right_atom_idx  distance  is_bond
0  dsgdb9nsd_033805              0               0  0.000000    False
1  dsgdb9nsd_033805              0               1  1.155785     True
2  dsgdb9nsd_033805              0               2  2.606947    False
3  dsgdb9nsd_033805              0               3  3.616122    False
4  dsgdb9nsd_033805              0               4  4.788397    False

In [7]:
# Merge with distances - train set
pd.merge(train.sample(10, random_state=529),
         distances_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','left_atom_idx','right_atom_idx']) \
    .drop(['left_atom_idx','right_atom_idx'], axis=1)

        id     molecule_name   ...     distance  is_bond
0  3758951  dsgdb9nsd_107248   ...     2.671750    False
1  2900578  dsgdb9nsd_085883   ...     2.087678    False
2  4049013  dsgdb9nsd_114046   ...     2.338395    False
3   915315  dsgdb9nsd_032217   ...     1.764299    False
4   740354  dsgdb9nsd_024302   ...     3.049497    False
5  3017217  dsgdb9nsd_088745   ...     3.004576    False
6    12939  dsgdb9nsd_000640   ...     2.985885    False
7  2845584  dsgdb9nsd_084421   ...     2.570868    False
8  1610072  dsgdb9nsd_052244   ...     2.725683    False
9  3375778  dsgdb9nsd_097259   ...     1.006487     True

[10 rows x 8 columns]

In [8]:
# Merge with distances - test set
pd.merge(test.sample(10, random_state=529),
         distances_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','left_atom_idx','right_atom_idx']) \
    .drop(['left_atom_idx','right_atom_idx'], axis=1)

        id     molecule_name  atom_index_0   ...     type  distance  is_bond
0  5355513  dsgdb9nsd_042019            11   ...     1JHC  1.096935     True
1  4700032  dsgdb9nsd_002879             9   ...     2JHN  2.113530    False
2  6974321  dsgdb9nsd_119906            15   ...     2JHC  2.145142    False
3  4747940  dsgdb9nsd_006507            15   ...     2JHC  2.240096    False
4  5810170  dsgdb9nsd_066855            14   ...     3JHC  3.567916    False
5  6901208  dsgdb9nsd_116506            19   ...     3JHH  3.070922    False
6  5922072  dsgdb9nsd_072119            16   ...     1JHC  1.089958     True
7  5602100  dsgdb9nsd_057188             9   ...     2JHH  1.773062    False
8  6918912  dsgdb9nsd_117461            17   ...     3JHH  2.266473    False
9  5513528  dsgdb9nsd_051570            10   ...     1JHC  1.096327     True

[10 rows x 7 columns]

In [9]:
angle_df.head()

      molecule_name  left_atom_idx     ...      right_atom_idx       angle
0  dsgdb9nsd_033805              1     ...                   2  179.876516
1  dsgdb9nsd_033805              2     ...                   1    0.054746
2  dsgdb9nsd_033805              2     ...                   8  116.116170
3  dsgdb9nsd_033805              8     ...                   2   30.742854
4  dsgdb9nsd_033805              2     ...                   8  107.535858

[5 rows x 5 columns]

In [10]:
# Test merge on bond angles left/middle
pd.merge(train.sample(10, random_state=529),
         angle_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','left_atom_idx','middle_atom_idx'])

        id     molecule_name    ...      right_atom_idx      angle
0  3758951  dsgdb9nsd_107248    ...                 NaN        NaN
1  2900578  dsgdb9nsd_085883    ...                 0.0  40.719294
2  4049013  dsgdb9nsd_114046    ...                 2.0  32.931255
3   915315  dsgdb9nsd_032217    ...                 NaN        NaN
4   740354  dsgdb9nsd_024302    ...                 NaN        NaN
5  3017217  dsgdb9nsd_088745    ...                 NaN        NaN
6    12939  dsgdb9nsd_000640    ...                 NaN        NaN
7  2845584  dsgdb9nsd_084421    ...                 NaN        NaN
8  1610072  dsgdb9nsd_052244    ...                 NaN        NaN
9  3375778  dsgdb9nsd_097259    ...                 NaN        NaN

[10 rows x 10 columns]

In [11]:
# Test merge on bond angles right/middle
pd.merge(train.sample(10, random_state=529),
         angle_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','right_atom_idx','middle_atom_idx'])

        id     molecule_name     ...      right_atom_idx       angle
0  3758951  dsgdb9nsd_107248     ...                 NaN         NaN
1  2900578  dsgdb9nsd_085883     ...                 9.0  109.703217
2  4049013  dsgdb9nsd_114046     ...                12.0  124.571782
3   915315  dsgdb9nsd_032217     ...                 NaN         NaN
4   740354  dsgdb9nsd_024302     ...                 NaN         NaN
5  3017217  dsgdb9nsd_088745     ...                 NaN         NaN
6    12939  dsgdb9nsd_000640     ...                 NaN         NaN
7  2845584  dsgdb9nsd_084421     ...                 NaN         NaN
8  1610072  dsgdb9nsd_052244     ...                 NaN         NaN
9  3375778  dsgdb9nsd_097259     ...                 NaN         NaN

[10 rows x 10 columns]

In [12]:
tortion_df.loc[tortion_df['molecule_name'] == 'dsgdb9nsd_032370'].sort_values('left_atom_idx')

            molecule_name      ...        torsion_angle
1034198  dsgdb9nsd_032370      ...            73.950769
1034202  dsgdb9nsd_032370      ...           -49.693965
1034200  dsgdb9nsd_032370      ...          -165.810322
1034213  dsgdb9nsd_032370      ...            11.241515
1034217  dsgdb9nsd_032370      ...           137.020293
1034219  dsgdb9nsd_032370      ...          -169.507297
1034221  dsgdb9nsd_032370      ...            72.172787
1034223  dsgdb9nsd_032370      ...           -43.728519
1034203  dsgdb9nsd_032370      ...           -49.693965
1034201  dsgdb9nsd_032370      ...          -165.810322
1034199  dsgdb9nsd_032370      ...            73.950769
1034215  dsgdb9nsd_032370      ...          -107.078401
1034226  dsgdb9nsd_032370      ...          -179.546604
1034195  dsgdb9nsd_032370      ...           179.877118
1034197  dsgdb9nsd_032370      ...             0.654322
1034214  dsgdb9nsd_032370      ...          -107.078401
1034212  dsgdb9nsd_032370      ...            11.241515
1034191  dsgdb9nsd_032370      ...             0.360646
1034216  dsgdb9nsd_032370      ...           137.020293
1034224  dsgdb9nsd_032370      ...            -0.276925
1034218  dsgdb9nsd_032370      ...          -169.507297
1034193  dsgdb9nsd_032370      ...          -178.862150
1034222  dsgdb9nsd_032370      ...           -43.728519
1034220  dsgdb9nsd_032370      ...            72.172787
1034183  dsgdb9nsd_032370      ...           179.135238
1034185  dsgdb9nsd_032370      ...            -0.431978
1034194  dsgdb9nsd_032370      ...           179.877118
1034190  dsgdb9nsd_032370      ...             0.360646
1034192  dsgdb9nsd_032370      ...          -178.862150
1034196  dsgdb9nsd_032370      ...             0.654322
1034188  dsgdb9nsd_032370      ...            -0.112650
1034184  dsgdb9nsd_032370      ...            -0.431978
1034186  dsgdb9nsd_032370      ...           179.757875
1034182  dsgdb9nsd_032370      ...           179.135238
1034206  dsgdb9nsd_032370      ...          -179.693932
1034210  dsgdb9nsd_032370      ...             0.446788
1034208  dsgdb9nsd_032370      ...          -179.368254
1034204  dsgdb9nsd_032370      ...             0.491026
1034189  dsgdb9nsd_032370      ...            -0.112650
1034187  dsgdb9nsd_032370      ...           179.757875
1034209  dsgdb9nsd_032370      ...          -179.368254
1034207  dsgdb9nsd_032370      ...          -179.693932
1034230  dsgdb9nsd_032370      ...           179.892113
1034205  dsgdb9nsd_032370      ...             0.491026
1034228  dsgdb9nsd_032370      ...            -0.299749
1034211  dsgdb9nsd_032370      ...             0.446788
1034225  dsgdb9nsd_032370      ...            -0.276925
1034227  dsgdb9nsd_032370      ...          -179.546604
1034229  dsgdb9nsd_032370      ...            -0.299749
1034231  dsgdb9nsd_032370      ...           179.892113

[50 rows x 6 columns]

In [13]:
train.loc[train['molecule_name'] == 'dsgdb9nsd_032370']

            id           ...            scalar_coupling_constant
918998  918998           ...                           -1.092240
918999  918999           ...                           -0.569734
919000  919000           ...                           12.712400
919001  919001           ...                            4.045410
919002  919002           ...                           93.997900
919003  919003           ...                           -5.048780
919004  919004           ...                            3.873770
919005  919005           ...                            0.057257
919006  919006           ...                          -15.129400
919007  919007           ...                           95.563500
919008  919008           ...                           -3.430320
919009  919009           ...                            4.628570
919010  919010           ...                            0.399166
919011  919011           ...                            1.837920
919012  919012           ...                            7.040480
919013  919013           ...                          141.300000
919014  919014           ...                            4.470400
919015  919015           ...                            0.478390
919016  919016           ...                           10.874600
919017  919017           ...                           14.240700
919018  919018           ...                          138.685000
919019  919019           ...                            9.170300

[22 rows x 6 columns]

In [14]:
# merge with tortion
pd.merge(train.sample(10, random_state=529),
         tortion_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','2left_atom_idx','right_atom_idx'])

         id     molecule_name      ...        2right_atom_idx  torsion_angle
0   3758951  dsgdb9nsd_107248      ...                    NaN            NaN
1   2900578  dsgdb9nsd_085883      ...                    2.0     175.044573
2   2900578  dsgdb9nsd_085883      ...                    6.0      65.699532
3   4049013  dsgdb9nsd_114046      ...                    4.0      86.888484
4   4049013  dsgdb9nsd_114046      ...                   13.0     -36.760191
5   4049013  dsgdb9nsd_114046      ...                    6.0    -146.092219
6    915315  dsgdb9nsd_032217      ...                    NaN            NaN
7    740354  dsgdb9nsd_024302      ...                    NaN            NaN
8   3017217  dsgdb9nsd_088745      ...                    NaN            NaN
9     12939  dsgdb9nsd_000640      ...                    NaN            NaN
10  2845584  dsgdb9nsd_084421      ...                    NaN            NaN
11  1610072  dsgdb9nsd_052244      ...                    NaN            NaN
12  3375778  dsgdb9nsd_097259      ...                    NaN            NaN

[13 rows x 11 columns]

In [15]:
# merge with tortion
pd.merge(train.sample(50, random_state=529),
         tortion_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','left_atom_idx','2right_atom_idx']).dropna()

Empty DataFrame
Columns: [id, molecule_name, atom_index_0, atom_index_1, type, scalar_coupling_constant, 2left_atom_idx, left_atom_idx, right_atom_idx, 2right_atom_idx, torsion_angle]
Index: []

In [16]:
# merge with tortion
pd.merge(train.sample(10, random_state=529),
         tortion_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','2left_atom_idx','left_atom_idx']).dropna()

         id     molecule_name      ...        2right_atom_idx  torsion_angle
9   3375778  dsgdb9nsd_097259      ...                    8.0      -2.381447
10  3375778  dsgdb9nsd_097259      ...                    3.0     178.301905

[2 rows x 11 columns]

In [17]:
# merge with tortion
pd.merge(train.sample(10, random_state=529),
         tortion_df,
         how='left',
         left_on=['molecule_name','atom_index_0','atom_index_1'],
         right_on=['molecule_name','2right_atom_idx','right_atom_idx']).dropna()

         id     molecule_name      ...        2right_atom_idx  torsion_angle
9   3375778  dsgdb9nsd_097259      ...                   15.0      -2.381447
10  3375778  dsgdb9nsd_097259      ...                   15.0     178.301905

[2 rows x 11 columns]

# Find Closest Atom To Each Other Atom

In [18]:
train.head()

   id           ...            scalar_coupling_constant
0   0           ...                             84.8076
1   1           ...                            -11.2570
2   2           ...                            -11.2548
3   3           ...                            -11.2543
4   4           ...                             84.8074

[5 rows x 6 columns]

In [19]:
distances_df[(distances_df['molecule_name'] == 'dsgdb9nsd_000001') &
             (distances_df['left_atom_idx'] == 2) &
             (distances_df['left_atom_idx'] != distances_df['right_atom_idx'])].sort_values('distance').T

                        14971953        ...                 14971956
molecule_name   dsgdb9nsd_000001        ...         dsgdb9nsd_000001
left_atom_idx                  2        ...                        2
right_atom_idx                 0        ...                        3
distance                 1.09195        ...                  1.78316
is_bond                     True        ...                    False

[5 rows x 4 columns]

In [20]:
d = {}
d['1'] = 1
d['5'] = 18
d['3'] = 3
d

{'1': 1, '5': 18, '3': 3}

In [21]:
{k: d[k] for k in sorted(d, key=d.get)}

{'1': 1, '3': 3, '5': 18}

In [22]:
[k for k in sorted(d, key=d.get)]

['1', '3', '5']