In [1]:
import pandas as pd

In [2]:
sub = pd.read_csv('../submissions/M016_0618_0349_submission_lgb_5folds_0.7409CV_500000iter_0.2lr.csv')

In [3]:
import os

In [6]:
sub_list = [x for x in os.listdir('../temp/M017/') if 'submission' in x]

In [8]:
sub_list.sort()
sub_list

['temp1of8_M017_0621_0331_submission_lgb_3folds_500000iter_0.1lr.csv',
 'temp1of8_M017_0621_2221_submission_lgb_3folds_500000iter_0.1lr_fold1.csv',
 'temp1of8_M017_0621_2222_submission_lgb_3folds_500000iter_0.1lr_fold0.csv',
 'temp1of8_M017_0621_2240_submission_lgb_3folds_500000iter_0.1lr_fold2.csv',
 'temp2of8_M017_0621_0331_submission_lgb_3folds_500000iter_0.1lr.csv',
 'temp2of8_M017_0621_2221_submission_lgb_3folds_500000iter_0.1lr_fold1.csv',
 'temp2of8_M017_0621_2222_submission_lgb_3folds_500000iter_0.1lr_fold0.csv',
 'temp2of8_M017_0621_2240_submission_lgb_3folds_500000iter_0.1lr_fold2.csv',
 'temp3of8_M017_0621_0331_submission_lgb_3folds_500000iter_0.1lr.csv',
 'temp3of8_M017_0621_2222_submission_lgb_3folds_500000iter_0.1lr_fold0.csv',
 'temp4of8_M017_0621_0331_submission_lgb_3folds_500000iter_0.1lr.csv',
 'temp4of8_M017_0621_2222_submission_lgb_3folds_500000iter_0.1lr_fold0.csv']

In [9]:
sub1_M017 = pd.read_csv('../temp/M017/temp1of8_M017_0621_0331_submission_lgb_3folds_500000iter_0.1lr.csv')

In [12]:
sub1_M017.head()

        id  scalar_coupling_constant
0  4658147                  0.000000
1  4658148                188.554852
2  4658149                  0.000000
3  4658150                184.775834
4  4658151                  0.000000

In [14]:
for subf in sub_list:
    df = pd.read_csv(f'../temp/M017/{subf}')
    sub[subf] = df['scalar_coupling_constant']

In [25]:
ss = pd.read_csv('../input/sample_submission.csv')
ss['scalar_coupling_constant'] = sub.drop(['id','scalar_coupling_constant'], axis=1).mean(axis=1)

In [33]:
ss.to_csv('../submissions/M017_PART_0621_2222_submission_lgb_3folds_500000iter_0.1lr.csv', index=False)