In [1]:
import pandas as pd

In [6]:
!ls ../scripts/hugh/data/

structure_with_acsf_soap.csv

In [2]:
df = pd.read_csv('../scripts/hugh/data/structure_with_acsf_soap.csv')

In [3]:
df.head()

,molecule_name,atom_index,atom,x,y,z,acsf_f0,acsf_f1,acsf_f2,acsf_f3,...,soap_f440,soap_f441,soap_f442,soap_f443,soap_f444,soap_f445,soap_f446,soap_f447,soap_f448,soap_f449
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,3.681918,3.650919,1.614263,0.096596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,2.392355,1.295592,2.282453,0.544185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,dsgdb9nsd_000001,2,H,1.011731,1.463751,0.000277,2.392355,1.295591,2.282453,0.544185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,dsgdb9nsd_000001,3,H,-0.540815,1.447527,-0.876644,2.392349,1.295569,2.282457,0.544196,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,dsgdb9nsd_000001,4,H,-0.523814,1.437933,0.906397,2.392349,1.295570,2.282457,0.544196,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
548 - 536

12

In [4]:
df.shape

(2358657, 536)

In [6]:
qm7 = pd.read_csv('../data/qm7_coulomb/struct_eigen.csv')

In [7]:
qm7.shape

(2358657, 14)

In [8]:
qm7.head()

,atom_index,connectedness,coulomb_mean,eigv_gap,eigv_max,eigv_min,fiedler_eig,molecule_name,sv_0,sv_1,sv_2,sv_3,sv_4,sv_min
0,0,1,11.767428,39.98677,40.047568,0.060799,1.506038,dsgdb9nsd_000001,29.416132,0.060816,0.060805,0.060799,8.946912e-16,0.060799
1,1,1,1.535433,39.98677,40.047568,0.060799,1.506038,dsgdb9nsd_000001,29.416132,0.060816,0.060805,0.060799,6.410361e-16,0.060799
2,2,1,1.535434,39.98677,40.047568,0.060799,1.506038,dsgdb9nsd_000001,29.416132,0.060816,0.060805,0.060799,2.030443e-17,0.060799
3,3,1,1.535438,39.98677,40.047568,0.060799,1.506038,dsgdb9nsd_000001,29.416132,0.060816,0.060805,0.060799,3.549286e-16,0.060799
4,4,1,1.535437,39.98677,40.047568,0.060799,1.506038,dsgdb9nsd_000001,29.416132,0.060816,0.060805,0.060799,7.166480e-16,0.060799

In [10]:
df_new = df.merge(qm7, on=['atom_index','molecule_name'])

In [11]:
df_new.shape

(2358657, 548)

In [12]:
df_new.to_csv('../scripts/hugh/data/structure_with_acsf_soap_qm7.csv', index=False)

In [13]:
df_new.shape

(2358657, 548)